.maze-cell {
 /* border: 2px solid black; */
 text-align: center;
 background-color: blue;
 color: white;
}

.grid-container {
 display: grid;
 border: 2px solid black;
}

body {
 background-color: aqua;
}
